In [1]:
For the given pandas series, say, x, 
x = pd.Series([3,5,7,9])
what would be i) x + x   Ii) x + x[::-1]   iii) x[0::2] + x[1::2]

SyntaxError: invalid syntax (<ipython-input-1-294b1d3744df>, line 1)

In [4]:

import pandas as pd
x = pd.Series([3,5,7,9])

In [5]:
x+x

0     6
1    10
2    14
3    18
dtype: int64

In [6]:
x + x[::-1]

0     6
1    10
2    14
3    18
dtype: int64

In [8]:
x[0::2] + x[1::2]

0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

The pandas data frame below shows how four people have voted (1 - Yes, 0 - No) for two ballot questions in a poll. 
Write the pandas code and the resulting solution for the following questions. 
The code should be generic so that they will work on any size of the data frame and 
with a different set of row index names as well. 
Assume df is the variable for this data

np.random.seed(543)
df = pd.DataFrame(np.random.randint(0,2, (4,2)), columns=["Ballot1", "Ballot2"],
                 index = ["A","B","C","D"])
df

How many people voted in favor of Ballot1? What would be the indices of the people who voted in favor of Ballot1?

In [35]:
import numpy as np
np.random.seed(543)
df = pd.DataFrame(np.random.randint(0,2, (4,2)), columns=["Ballot1", "Ballot2"],
                 index = ["A","B","C","D"])
df

   Ballot1  Ballot2
A        1        1
B        1        1
C        0        1
D        1        0

In [12]:
df['Ballot1'].sum()
df[df['Ballot1'] == 1].index

Index(['A', 'B', 'D'], dtype='object')

How many people voted in favor of both Ballot1 and Ballot2?  
What would be the indices of the people who voted in favor of both Ballot1 and Ballot2?

In [22]:
len(df[(df['Ballot1'] == 1) & (df['Ballot2'] == 1)])

2

In [16]:
df[(df['Ballot1'] == 1) & (df['Ballot2'] == 1)].index

Index(['A', 'B'], dtype='object')

Using loc, what code will show the first three rows of the above data frame? 
Using iloc, what code will show the last three rows of the above data frame?

In [31]:
df.loc[['A','B','C']]

   Ballot1  Ballot2
A        1        1
B        1        1
C        0        1

In [36]:
df.iloc(1:)

SyntaxError: invalid syntax (<ipython-input-36-c54acc5b0529>, line 1)

In [47]:
df['Tally'] = df.cumsum()
df

   Ballot1  Ballot2 Tally Campaign
A        1        1     1     Call
B        1        1     2     Call
C        0        1     2     Call
D        1        0     3     Call

Add a column Campaign to the data frame that would be the value Call if the person 
voted in favor of both Ballot1 and Ballot2, Email otherwise. 
The code should use apply on the data frame with lambda function over the axis columns.

In [48]:
df['Campaign'] = df.apply(lambda x: 'Call' if x['Tally'] == 2 else 'Email', axis='columns')
df

   Ballot1  Ballot2 Tally Campaign
A        1        1     1    Email
B        1        1     2     Call
C        0        1     2     Call
D        1        0     3    Email

For the data frame, say, df, shown below, what would be the result of df.reindex(range(5))?
 
np.random.seed(5)
df = pd.DataFrame(np.random.randint(60,90, (4,2)), 
                   index=[1,3,5,7], columns=["A","B"])
df

In [49]:
np.random.seed(5)
df = pd.DataFrame(np.random.randint(60,90, (4,2)), 
                   index=[1,3,5,7], columns=["A","B"])
df

    A   B
1  63  74
3  75  89
5  66  82
7  76  69

In [53]:
df2 = df.reindex(range(5))
df2

      A     B
0   NaN   NaN
1  63.0  74.0
2   NaN   NaN
3  75.0  89.0
4   NaN   NaN

For the resulting data frame from Q7, say df2, what would be the result of df2.ffill().bfill()?

In [54]:
df2.ffill().bfill()

      A     B
0  63.0  74.0
1  63.0  74.0
2  63.0  74.0
3  75.0  89.0
4  75.0  89.0

The multi-indexed data frame refers to the data in Q9 and Q10

np.random.seed(5)
indices = pd.MultiIndex.from_product([["A","B"],[1,2,3]], names=["X","Y"])
df = pd.DataFrame(np.random.randint(60,90, (6,2)), index=indices, columns=["Q1","Q2"])
df

Using indexing only, show how would you access 
i) only the middle row data of  A and B,                
ii) all data from the middle row of A to the middle row of B?

In [55]:
np.random.seed(5)
indices = pd.MultiIndex.from_product([["A","B"],[1,2,3]], names=["X","Y"])
df = pd.DataFrame(np.random.randint(60,90, (6,2)), index=indices, columns=["Q1","Q2"])
df

     Q1  Q2
X Y
A 1  63  74
  2  75  89
  3  66  82
B 1  76  69
  2  68  64
  3  67  87

In [58]:
df.loc[[('A',2), ('B',2)]]

     Q1  Q2
X Y
A 2  75  89
B 2  68  64

In [61]:
df.loc[('A',2) : ('B',2)]

     Q1  Q2
X Y
A 2  75  89
  3  66  82
B 1  76  69
  2  68  64

i) Using xs, show how you would access the middle row data of A and B?  
ii) Using unstack followed by xs, show how you would access the middle row data of A and B?

In [62]:
df.xs(2, level='Y')   # XS stands for cross-section

   Q1  Q2
X
A  75  89
B  68  64

In [63]:
df.unstack()

   Q1          Q2
Y   1   2   3   1   2   3
X
A  63  75  66  74  89  82
B  76  68  67  69  64  87

In [64]:
df.unstack().xs(2, level='Y', axis='columns')

   Q1  Q2
X
A  75  89
B  68  64