# Python pandas filter rows groupby

https://www.youtube.com/watch?v=EgSM6gA1Qjg

In [8]:
df = pd.DataFrame({
    'Country' : ['Australia', 'Canada', 'France', 'Germany', 'New Zealand', 'United Kingdom', 'United States'],
    'Apple' : [20634, 24867, 80193, 9082, 10332, 17534, 28615],
    'Banana' : [52721, 33775, 36094, 39686, 40050, 42908, 95061],
    'Beans' : [14433, 547, 680, 29905, 345, 5100, 7163],
    'Broccoli' : [17953, 12407, 5341, 37197, 4390, 38436, 26715],
    'Carrots' : [8106, 222, 9104, 21636, 23, 41815, 56284],
    'Mango' : [9186, 3767, 7388, 8775, 782, 5600, 22363],
    'Orange' : [8680, 19929, 2256, 8887, 12010, 21744, 30932],
    'Total' : [131713, 95514, 141056, 155168, 67932, 173137, 267133] })
df

,Country,Apple,Banana,Beans,Broccoli,Carrots,Mango,Orange,Total
0,Australia,20634,52721,14433,17953,8106,9186,8680,131713
1,Canada,24867,33775,547,12407,222,3767,19929,95514
2,France,80193,36094,680,5341,9104,7388,2256,141056
3,Germany,9082,39686,29905,37197,21636,8775,8887,155168
4,New Zealand,10332,40050,345,4390,23,782,12010,67932
5,United Kingdom,17534,42908,5100,38436,41815,5600,21744,173137
6,United States,28615,95061,7163,26715,56284,22363,30932,267133

In [11]:
fruit = df['Apple'].groupby(df['Country'])

Country
Australia         20634
Canada            24867
France            80193
Germany            9082
New Zealand       10332
United Kingdom    17534
United States     28615
Name: Apple, dtype: int64

In [12]:
fruit.head()

0    20634
1    24867
2    80193
3     9082
4    10332
5    17534
6    28615
Name: Apple, dtype: int64

In [13]:
fruit.mean()

Country
Australia         20634
Canada            24867
France            80193
Germany            9082
New Zealand       10332
United Kingdom    17534
United States     28615
Name: Apple, dtype: int64