In [15]:
import numpy as np
import pandas as pd

In [ ]:
a = pd.Series([3, 5, 7, 9])

In [81]:
a[0::2]

0    3
2    7
dtype: int64

In [82]:
a[1::2]

1    5
3    9
dtype: int64

In [83]:
a[0::2] + a[1::2]

0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [172]:
d = {
    'Ballot1' : [1, 1, 0, 1],
    'Ballot2' : [1, 1, 1, 0]
}

df = pd.DataFrame(d, index=['A', 'B', 'C', 'D'])
df

   Ballot1  Ballot2
A        1        1
B        1        1
C        0        1
D        1        0

In [173]:
# How many people voted in favor of Ballot1? 
df['Ballot1'].sum()

3

In [174]:
# What would be the indices of the people who voted in favor of Ballot1?
df.index[df['Ballot1'] == 1]

Index(['A', 'B', 'D'], dtype='object')

In [175]:
# How many people voted in favor of both Ballot1 and Ballot2
np.sum([df.loc[x].sum() == 2 for x in df.index])

2

In [177]:
# What would be the indices of the people who voted in favor of both Ballot1 and Ballot2?
df.loc[[df.loc[x].sum() == 2 for x in df.index]].index

Index(['A', 'B'], dtype='object')

In [144]:
df.loc[df.index[0:3]]

   Ballot1  Ballot2
A        1        1
B        1        1
C        0        1

In [145]:
df.iloc[-3:]

   Ballot1  Ballot2
B        1        1
C        0        1
D        1        0

In [146]:
df['Tally'] = df.sum(axis='columns')
df

   Ballot1  Ballot2  Tally
A        1        1      2
B        1        1      2
C        0        1      1
D        1        0      1

In [153]:
# Add a column Campaign to the data frame that would be the value Call if the person voted in 
# favor of both Ballot1 and Ballot2, Email otherwise. The code should use apply on the data 
# frame with the lambda function over the axis columns.
df['Campaign'] = df.apply(lambda x: 'Call' if x.sum() == 4 else 'Email', axis='columns')
#df['Campaign'] = df.apply(lambda x: x.sum(), axis='columns')
df

   Ballot1  Ballot2  Tally Campaign
A        1        1      2     Call
B        1        1      2     Call
C        0        1      1    Email
D        1        0      1    Email

In [152]:
df.drop('Campaign', inplace=True, axis='columns')
df

   Ballot1  Ballot2  Tally
A        1        1      2
B        1        1      2
C        0        1      1
D        1        0      1

In [155]:
#     A     B
# 1   63    74
# 3   75    89
# 5   66    82
# 7   76    69

df = pd.DataFrame({'A': [63, 75, 66, 76], 'B' : [74, 89, 82, 69]}, index=[1,3,5,7])
df

    A   B
1  63  74
3  75  89
5  66  82
7  76  69

In [158]:
df2 = df.reindex(range(5))
df2

      A     B
0   NaN   NaN
1  63.0  74.0
2   NaN   NaN
3  75.0  89.0
4   NaN   NaN

In [160]:
df2.ffill().bfill()

      A     B
0  63.0  74.0
1  63.0  74.0
2  63.0  74.0
3  75.0  89.0
4  75.0  89.0

In [162]:
iterables = [['A', 'B'], [1, 2, 3]]
index = pd.MultiIndex.from_product(iterables, names=['X', 'Y'])
df = pd.DataFrame(
    {'Q1' : [63, 75, 68, 76, 68, 67], 
     'Q2' : [74, 89, 82, 69, 64, 87]}, index=index)
df

     Q1  Q2
X Y
A 1  63  74
  2  75  89
  3  68  82
B 1  76  69
  2  68  64
  3  67  87

In [165]:
# Using indexing only, show how you would access i) only the middle row data of A and B,
df.loc[[('A', 2), ('B', 2)]]

     Q1  Q2
X Y
A 2  75  89
B 2  68  64

In [166]:
# Using indexing only, show how you would access  ii) all data from the middle 
# row of A to the middle row of B
df.loc[('A', 2) : ('B', 2)]

     Q1  Q2
X Y
A 2  75  89
  3  68  82
B 1  76  69
  2  68  64

In [167]:
# i) Using xs, show how you would access the middle row of data of A and B
df.xs(2, level=1)

   Q1  Q2
X
A  75  89
B  68  64

In [169]:
# ii Using unstack followed by xs, show how you would access the middle row data 
# of A and B.
df.unstack().xs(2, level=1, axis='columns')

   Q1  Q2
X
A  75  89
B  68  64