In [1]:
import numpy as np
import pandas as pd

<pre>
Q1 For the given pandas series, say, x, what would be
    1) x+x
    2) x + x[::-1]
    3) x[0::2] + x[1::2]

        X
    0   3
    1   5
    2   7
    3   9
    dtype: int64
</pre>

In [2]:
x = pd.Series([3, 5, 7, 9])

#1)
# 0 6
# 1 10
# 2 14
# 3 18

#2)   x       x[::-1]      x + x[::-1]
#     0  3    3  9         0 6
#     1  5    2  7         1 10
#     2  7    1  5         2 14
#     3  9    0  3         3 18

#3)  X[0::2]    X[1::2]    x[0::2] + x[1::2]
#    0    3     1    5     0  NaN
#    2    7     3    9     1  NaN
#                          2  NaN
#                          3  NaN

print(x+x)
print(x + x[::-1])
print(x[0::2] + x[1::2])

0     6
1    10
2    14
3    18
dtype: int64
0     6
1    10
2    14
3    18
dtype: int64
0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

<pre>
The pandas data frame below shows how four people voted (1=yes, 0=no) for two
ballot questions in a poll.  Write the pandas code and the resulting solution for
the following questions:  The code should be generic so that they will work on any
size of the data frame and with a different set of row index names as well.  Assume
df is the variable for this data.

                Ballot1        Ballot2
        A       1              1
        B       1              1
        C       0              1
        D       1              0
</pre>

In [3]:
df = pd.DataFrame(
    {
        'Ballot1' : [1, 1, 0, 1],
        'Ballot2' : [1, 1, 1, 0]
    }, index=['A', 'B', 'C', 'D'])
df

   Ballot1  Ballot2
A        1        1
B        1        1
C        0        1
D        1        0

<pre>
Q2 How many people voted in favor of Ballot1? What would be the indices of the 
people who voted in favor of Ballot1?
</pre>

In [4]:
# 3
# A, B, D

print(df['Ballot1'].sum())
print(df.index[df['Ballot1'] == 1])

3
Index(['A', 'B', 'D'], dtype='object')

<pre>
Q3 How many people voted in favor of both Ballot1 and Ballot2?  What would be the
indices of the people who voted in favor of both Ballot1 and Ballot2?
</pre>

In [5]:
print(np.sum([df.loc[x].sum()==2 for x in df.index]))
print(df.loc[[df.loc[x].sum()==2 for x in df.index]].index)

2
Index(['A', 'B'], dtype='object')

<pre>
Q4 Using loc, what code will show the first three rows of the above data frame?
Using iloc, what code will show the last three rows of the above data frame?
</pre>

In [6]:
print(df.loc['A':'C'])
print(df.iloc[-3:])

   Ballot1  Ballot2
A        1        1
B        1        1
C        0        1
   Ballot1  Ballot2
B        1        1
C        0        1
D        1        0

<pre>
Q5 Add a column Tally to the data frame that shows the count of Yes votes for each row of the data.
</pre>

In [7]:
df['Tally'] = [df.loc[x].sum() for x in df.index]
df

   Ballot1  Ballot2  Tally
A        1        1      2
B        1        1      2
C        0        1      1
D        1        0      1

<pre>
Q6 Add a column Campaign to the data frame that would be the value Call if the person voted in favor of 
both Ballot1 and Ballot2, Email otherwise. The code should use apply on the data frame with the lambda 
function over the axis columns.
</pre>

In [15]:
df['Campaign'] = df.apply(lambda x:  'Call' if 4 == x.values.sum() else 'Email', axis='columns')
df

   Ballot1  Ballot2  Tally Campaign
A        1        1      2     Call
B        1        1      2     Call
C        0        1      1    Email
D        1        0      1    Email

<pre>
Q7 For the data frame, say, df, shown below, what would be the result of df.reindex(range(5))?
        A        B
    1   63       74
    3   75       89
    5   66       82
    7   76       69
</pre>

In [16]:
df = pd.DataFrame({
    'A': [63, 75, 66, 76],
    'B': [74, 89, 82, 69]
    }, index=[1, 3, 5, 7])
df

    A   B
1  63  74
3  75  89
5  66  82
7  76  69

In [18]:
#     A      B
# 0   NaN    NaN
# 1   63     74
# 2   NaN    NaN
# 3   75     89
# 4   NaN    NaN
df2 = df.reindex(range(5))
df2

      A     B
0   NaN   NaN
1  63.0  74.0
2   NaN   NaN
3  75.0  89.0
4   NaN   NaN

<pre>
Q8 For the resulting data frame from Q7, say df2, what would be the result of df2.ffill().bfill()?
</pre>

In [19]:
#    A    B
# 0  63   74
# 1  63   74
# 2  63   74
# 3  75   89
# 4  75   89
df2.ffill().bfill()

      A     B
0  63.0  74.0
1  63.0  74.0
2  63.0  74.0
3  75.0  89.0
4  75.0  89.0

<pre>
The multi-indexed data frame refers to the data in Q9 and Q10.

                 Q1         Q2
   X   Y
       1         63         74
   A   2         75         89
       3         68         82
       1         76         69
   B   2         68         64
       3         67         87
</pre>

<pre>
Q9 Using indexing only, show how you would access 
    i) only the middle row data of A and B,
    ii) all data from the middle row of A to the middle row of B<
</pre>

In [26]:
indices = [
    ['A', 'A', 'A', 'B', 'B', 'B'],
    [ 1,   2,   3,   1,   2,   3]]

df = pd.DataFrame({
    'Q1': [63, 75, 68, 76, 68, 67],
    'Q2': [74, 89, 82, 69, 64, 87]
    }, index=indices)
df

     Q1  Q2
A 1  63  74
  2  75  89
  3  68  82
B 1  76  69
  2  68  64
  3  67  87

In [28]:
df.loc[[('A', 2), ('B', 2)]]

     Q1  Q2
A 2  75  89
B 2  68  64

In [30]:
df.loc[('A', 2) : ('B', 2)]

     Q1  Q2
A 2  75  89
  3  68  82
B 1  76  69
  2  68  64